.background-image .custom-card {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 25px 30px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease, background 0.3s ease,border-radius 0.3s ease;
    margin-bottom: 16px;

}
.background-image .custom-card:hover {
    box-shadow: 10px 50px 30px 10px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}
.search-icon {
    color: black;
    transition: transform 0.3s ease, color 0.3s ease;

    /* Add hover effect */
    &:hover {
        transform: scale(1.2);
        & svg {
            color: #ff6961;
        }
    }
}
.background-image {
    background-image: url('../../public/userdashboard.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Adjust this value according to your design */
}
