.login-container {
  background: rgba(0, 0, 0, 0.6);
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  color: white;
    border-radius: 10px;
    box-shadow: 0px 25px 30px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease, background 0.3s ease,border-radius 0.3s ease;
}
.login-container:hover{
  box-shadow: 10px 50px 30px 10px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}
.login-container h2 {
  color: white;
  font-size: 32px; /* Increase font size */
  padding: 10px 20px; /* Add padding */
  transition: transform 0.3s ease, color 0.3s ease; /* Add transition for hover effect */
}

.login-container h2:hover {
  transform: scale(1.1); 
  color: #ff6961;/* Scale up on hover */
}
.meta {
  text-align: center;
}

.entry {
  margin-top: 20px;
}

.entry .form label {
  color: white;
  display: block;
  margin-bottom: 5px;
}

.form input,
.form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #ff6961;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #ff6961;
}

.error {
  color: red;
}

.new-user {
  margin-top: 15px;
  text-align: center;
}

.new-user a {
  color: #007bff;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}
